// #ED1D26 red #A33B40 gray #353536 #58585A

html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
}
section{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  scroll-snap-align: center;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #d9d8d8 ; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@mixin mobile {
  @media (max-width: 738px) {
      @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
      @content;
      
  }
}

@mixin desktop {
  @media (max-width: 1366px) {
      @content;
  }
}

